body{
    background:lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}